@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply antialiased;
  }
}

@layer components {
  .project-list {
    @apply text-white text-2xl md:text-5xl font-extralight;
    line-height: 1.5;
    word-spacing: 0.1em;
  }
} 